@media screen and (max-width: 820px){
    .navbar{
        background-color: var(--bs-dark);
        height: auto;
     }
     
     .flex2{
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          justify-items: center;
          align-items: center;
     }
     /* About */

     /* flex 3 */
     .flex3{
          margin-left: -110px;
     }
     .flex3 .about_text{
          font-size: 12px;
     }
     .flex3 .about_text .tete .h4{
          font-size: 14px;
     }
     /* flex-4 */
     .flex4, .flex_3{
          margin-top: 100px;
      }
     .flex4 .about_img, .about_img4{
          margin-left: 234px
     }
     .about_img5{
          margin-left: -20px;
     }
     .flex4 .about_text{
          font-size: 12px;
     }
     .flex4 .about_text .tete .h4{
          font-size: 14px;
     }
     .flex4 .borde_space{
          position: relative;
          left: -338px;
     }
     /* Team */
     .teams_all{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 15px;
     }
     .caracteristique{
          position: relative;
          left: 0px;
      }
     .col-lg-4{
          position: relative;
          left: 0px;
     }
     /* Contact */
     .contact .container .row{

     }
}   



@media screen and (max-width: 620px){
     /* header */
    .flex1{
        position: relative;
        top: 12px;
        margin-bottom: 15px;
    }
   .navbar{
        background-color: var(--bs-dark);
        height: auto;
   }
   /* .navbar-toggler{
   

   /* Portfolio */
   .flex2{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        left: 0px;
        margin-bottom: 50px; 
   }
   /* About */
    .flex3{
          display: flex;
          flex-direction: column-reverse;
          margin-left: 0px;
          margin-top: -200px;
     }
     .about_text{
          margin-top: -100px;
     }
    .flex3 .about_img, .flex4 .about_img, .about_img4, .about_img3, .about_img5{
          margin-left: 0px;
     }
     .about_img5{
          margin-top: -100px;
     }
     .flex4{
          margin-top: 0px;
     }
     .flex_3{
          margin-top: -290px;
     }
     .about_img5{
          margin-top: -130px;
     }
     .about_img5 .text h4{
          font-size: 15px;
          margin-top: -10px;
     }
     .flex4 .about_img,
     .flex3 .about_img, 
     .about_img3, 
     .about_img4,
     .about_img5{
          border: 8px solid gainsboro;
          width: 90px;
          height: 90px;
          border-radius: 100px;
          
     }
     .borde_space, .flex4 .borde_space{
          border-left: 2px solid gainsboro;
          height: 135px;
          right: 0px;
          top: 240px; 
          margin-left: 45px;          
     }
     .flex4 .borde_space{
          top: -130px;
          left: 0px; 
     }    
     /* team */
     .teams_all{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 15px;
     }
     .caracteristique{
          position: relative;
          left: 0px;
      }
     .col-lg-4{
          position: relative;
          left: 0px;
     }
     /* Entreprise */
     .client .row .img-fluid{
          display: flex;
          justify-content: center;
          width: 70%;
          margin: auto;
     }
     /* contact */
     .contact{
          height: auto;
     }
     .contact .row{
          display: flex;
          flex-direction: column;
          justify-items: center;
          justify-content: center;
     }
        .button .btn{
          margin-bottom: 30px;
    }
     .footer{
          display: flex;
          flex-direction: column-reverse;
          gap: 10px;
     }
}

@media screen and (max-width: 320px){
     .flex2{
          display: grid;
          grid-template-columns: repeat(1, 1fr);
          justify-items: center;
          position: relative;
          left: -12px;
          margin-bottom: 50px; 
     }
}
